 :root {
    --main-color: #505155;
    --secondary-color: white;
    --title-color: #6f7380;
    --delimiter-color: red;
    --marker-color: #14a9ee;
    --item-color: #232428;
    --itinerary-color: #a9a9a9;
    --comment-color: #707070;
    --block-color: rgb(45, 46, 52);
    --more-color: rgba(255,255,255,0.6);
 }

body{
    margin: 0;
    padding: 0;
}
 .wrapper {
    min-height: 135vh;
    height: auto;
    width: 100%;
    background-image: url(../img/wrapper.webp);
    background-size: cover;
    padding-bottom: 50px;
}

.container {
    max-width: 1300px;
    padding: 0 35px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header-logo {
    height: 40px;
}

@media screen and (max-width: 880px) {
    .header-logo {
       margin-top: 30px;
    }
}

.header-nav {
    display: flex;
    height: auto;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

@media screen and (max-width: 880px) {
    .header-nav {
       align-items: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .header-nav {
       flex-wrap: wrap;
    }
}

.header-nav-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .header-nav-list {
        display: flex;
        margin-left: auto;
        align-items: center;
        flex-direction: column;
        width: auto;
    }
}

@media screen and (max-width: 425px) {
    .header-nav-list {
        width: 100%;
    }
}

.header-nav-item {
    list-style-type: none;
    margin-right: 15px;
}

@media screen and (max-width: 880px) {
    .header-nav-item {
        list-style-type: none;
        margin-right: 0;
        margin-top: 20px;
        justify-content: start;
    }    
}

.header-nav-item a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.header-nav-item button {
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    height: 36px;
    width: 111px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.header-info {
    margin-top: 150px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-introduce {
    width: 630px;
    height: 100%;
}

@media screen and (max-width: 1205px) {
    .header-introduce {
        width: 580px;
    }  
}

@media screen and (max-width: 1024px) {
    .header-introduce {
        height: auto;
    }  
}

.header-trip {
    width: 370px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 250px;
    margin-left: 135px;
}

@media screen and (max-width: 1205px) {
    .header-trip {
        margin-left: 0;
    } 
}

@media screen and (max-width: 1024px) {
    .header-trip {
        width: 100%;
    } 
}

.header-trip img {
    width: 370px;
}

.header-info-title .delimiter {
    color: var(--delimiter-color);
}

.header-info-title {
    color: var(--secondary-color);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 180px;
}

@media screen and (max-width: 1024px) {
    .header-info-title {
        margin-bottom: 40px;
    } 
}



.header-info-title span:last-child {
    font-size: 180px;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 1205px) {
    .header-info-title span:last-child {
        font-size: 140px;
    }  
}

@media screen and (max-width: 768px) {
    .header-info-title span:last-child {
        font-size: 100px;
    }  
}

@media screen and (max-width: 425px) {
    .header-info-title span:last-child {
        font-size: 60px;
    }  
}

.header-info-link img {
   height: 25px;
   fill: var(--delimiter-color);
   margin-right: 10px;
}

.header-info-link {
    display: flex;
    align-items: center;
    margin-top: 425px;
}

@media screen and (max-width: 1024px) {
    .header-info-link  {
        margin-top: 0;
    }  
}

.header-info-link a {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

.header-info-link span {
    color: var(--secondary-color);
    margin-right: 5px;
}

.about-us-general {
    padding: 110px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--secondary-color);
}

.about-us-title {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.about-us-introduce {
    width: 40%;
    margin-right: 10%;;
}

@media screen and (max-width: 1024px) {
    .about-us-introduce {
        width: 100%;
        margin-right: 0;
    }
}

.about-us-info {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .about-us-info {
        width: 100%;
    }
}

.about-us-item {
    padding: 90px 0px 400px;
}

@media screen and (max-width: 1024px) {
    .about-us-item {
        padding: 20px 0px 400px;
    }
}

.delimiter {
    color: var(--delimiter-color);
}

.about-us-subtitle {
    margin: 0;
    
}

.about-us-subtitle {
    font-family: 'Playfair Display', serif; 
    font-weight: bolder;
    color: var(--main-color);
    font-size: 45px;
}

@media screen and (max-width: 1024px) {
    .about-us-subtitle {
        font-size: 30px;
    }
}   

.about-us-subtitle span {
    color: var(--marker-color);
}

.information-about-us {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 19px;
    line-height: 30px;
}

@media screen and (max-width: 1024px) {
    .information-about-us {
        font-size: 15px;
    }
}

.about-us-item-title {
    font-family: 'Roboto', sans-serif;
    color: var(--item-color);
    font-size: 24px;
    padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 1024px) {
    .about-us-item-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .about-us-item-title {
        margin-top: 10px;
        font-size: 25px;
    }
}

.about-us-item-info {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 15px;
    padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 768px) {
    .about-us-item-info {
        font-size: 18px;
    }
}

.about-us-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-us-option {
    height: 330px;
    width: 340px;
    background-color: var(--secondary-color);
    
}

@media screen and (max-width: 1200px) {
    .about-us-option {
        width: 270px;
    }
}

@media screen and (max-width: 1024px) {
    .about-us-option {
        width: 210px;
        
    }
}

@media screen and (max-width: 768px) {
    .about-us-option {
        width: 100%;
        margin-top: 50px;
        height: auto;
    }
}

.about-us-option img {
    width: 200px;
    height: 105px;
    margin-top: 30px;
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .about-us-option img {
        width: 180px;
        height: 85px;
        margin-top: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .about-us-option img {
        width: 310px;
        height: 217px;
        margin-top: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 425px) {
    .about-us-option img {
        width: 220px;
        height: 127px;
        margin-top: 30px;
        margin-left: 20px;
    }
}

.wrapper-about-us {
    background-image: url(../img/waves.webp);
    min-height: 820px;
    height: auto;
    background-size: cover;
}

.header-trip {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1024px) {
    .header-trip {
        margin-top: 120px;
        align-items: center;
        width: 100%;
    }  
}

.header-trip img {
    height: 240px;
}

@media screen and (max-width: 1024px) {
    .header-trip img {
        width: 100%;
        height: auto;
    }  
}

.header-trip-list {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .header-trip-list {
        width: 100%;
    } 
}

.header-trip-item {
    list-style-type: none;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .header-trip-item {
        list-style-type: none;
        font-size: 20px;
        margin-top: 30px;
    }
}

.header-trip-item:first-child {
    font-size: 17px;
}

@media screen and (max-width: 1024px) {
    .header-trip-item:first-child {
        font-size: 24px;
    }
}

.header-trip-item:nth-child(3) {
    font-weight: 400;
}

.header-trip-item:last-child {
margin-top: 40px;
}

.header-trip-item a {
    color: var(--secondary-color);
    font-size: 14px;
    text-decoration: none;
}

.wrapper-tour-itinerary {
    padding: 100px 0px;
    width: 100%;
    min-height: 700px;
    height: auto;
    background-image: url(../img/wrapper-tour-itinerary.webp);
}

.tour-itinerary-general {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-wiidth: 1350px) {
    .tour-itinerary-general {
        display: flex;
        justify-content: center;
    }
}

.tour-itinerary-title {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.tour-itinerary-subtitle {
    font-family: 'Playfair Display', serif; 
    font-weight: bolder;
    color: var(--main-color);
    font-size: 45px;  
}

.tour-itinerary-subtitle span {
    color: var(--secondary-color);
}

.tour-itinerary-information {
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255,0.6);
    font-size: 17px;
    line-height: 30px; 
}

.tour-itinerary-item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: var(--secondary-color);
    margin: 0px;
    margin-bottom: 10px;

}

.tour-itinerary-item-info {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--itinerary-color);
    margin: 0px;
    margin-bottom: 30px;
    line-height: 25px;
}

.itinerary-map img {
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    .itinerary-map img {
        width: 320px;
        height: 520px;
    }
}

.tour-itinerary-title {
    display: flex;
    flex-wrap: wrap;
}

.itinerary-map {
    width: 570px;
    margin-right: 60px;
}

@media screen and (max-width: 1350px) {
    .itinerary-map {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

.tour-itinerary-item {
    width: 570px;
}

@media screen and (max-width: 1350px) {
    .tour-itinerary-item {
        width: 100%;
        margin: 0;
    }
}

.tour-itinerary-option {
    display: flex;
    align-items: flex-start;
}

.tour-itinerary-block {
    margin-left: 30px;
}

.tour-itinerary-icons img {
    width: 40px;
    height: 40px;
}

.tour-itinerary-icons {
    width: 75px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.about-norway-general {
    padding: 120px 0px 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-norway-letter img {
    padding: 0px 15px;
    margin: 30px 0px 0px;
    width: 400px;
    height: 430px;
}

@media screen and (max-width: 1200px) {
    .about-norway-letter img {
        width: 300px;
        height: 330px;
    }
}

@media screen and (max-width: 1200px) {
    .about-norway-letter{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.about-norway-item {
    padding: 0px 15px;
    margin: 30px 0px 0px;
    width: 25%;
}

@media screen and (max-width: 768px) {
    .about-norway-item {
        width: 100%;
    }
}

.about-norway-block {
    padding: 0px 15px;
    margin: 30px 0px 0px;
    width: 30%;
}

@media screen and (max-width: 768px) {
    .about-norway-block {
        width: 100%;
    }
}

.about-norway-title {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.about-norway-subtitle {
    margin-top: 10px;
    margin-bottom: 45px;
    font-family: 'Playfair Display', serif; 
    font-weight: bolder;
    color: var(--main-color);
    font-size: 45px;
}

@media screen and (max-width: 375px) {
    .about-norway-subtitle {
        font-size: 30px;
    }
}

.about-norway-information {
    margin: 25px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 19px;
    line-height: 30px;
}

.wrapper-spots {
    width: 100%;
    height: 790px;
    padding-top: 125px;
    background-color: var(--item-color);
}

.spots {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.spots-title {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.spots-title .delimiter {
    margin-right: 10px;
}

.spots-subtitle {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.spots-subtitle span {
    color: var(--main-color);
}

.spots-info {
    color: #ffffff99;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.item {
    height: 332px;
    width: 370px;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.owl-next span {
    font-size: 25px;
    color: black; 
    height: 35px;
    width: 35px;
    background-color: white;
    opacity: 0.7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;

}

.owl-prev span {
    font-size: 25px;
    color: black; 
    height: 35px;
    width: 35px;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: var(--secondary-color);
    opacity: 0.7;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 180px;
}

.spots-slider {
  position: absolute;  
}

.wrapper-faq {
    width: 100%;
    height: 670px;
    padding-top: 60px;
    background-color: var(--item-color);
    padding-bottom: 230px;
}

.faq {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.faq-title {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 0px;
    margin-bottom: 20px;
}

.faq-title .delimiter {
    margin-right: 10px;
}

.faq-info {
    width: 540px;
    min-height: 608px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.faq-subtitle {
    font-family: 'Playfair Display', serif;
    color: var(--secondary-color);
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 55px;
}

.faq-subtitle span {
    color: var(--main-color);
}

.faq-tour {
    color: #ffffff99;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 10px;
    width: 100%;
    display: block;
    margin-top: 25px;
}

.faq-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.faq-item {
    width: 510px;
    min-height: 58px;
    padding: 10px 0px 5px 0px;
    margin: 0px;
    list-style: none;
    border-bottom: solid 1px var(--secondary-color);
}

.faq-button {
    background-color: transparent;
    border: none;
    height: auto;
    width: 15px;
    margin-right: 30px;
    font-size: 15px;
}

.faq-button:hover {
    cursor: pointer;
}

.faq-item-enter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.faq-item-title {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    font-weight: 400px;
}

.faq-item-info {
    font-size: 15px;
    color: #ffffff99;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    display: none;
    transition: all 0.2s;
}

.faq-img {
    width: 510px;
    height: 590px;
    padding: 0px 15px; 
}

.faq-img img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.wrapper-contacts {
    background-image: url(../img/waterfall.webp);
    background-size: cover;
}

.contacts-general {
    padding: 130px 0px;
}

.contacts-block {
    margin: 30px 0px 0px;
    padding: 70px 30px 70px 30px;
    background-color: var(--item-color);
    width: 570px;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.contacts-text {
    background-color: var(--block-color);
    color: #ffffff99;
    padding: 14px 20px;
    margin-bottom: 24px;
    width: 470px;
    max-height: 44px;
    border: none;
}

.contacts-text::-webkit-input-placeholder { color: #ffffff99; }

.contacts-title {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}



.contacts-subtitle {
    margin: 20px 0px 30px;
    font-family: 'Playfair Display', serif; 
    font-weight: bolder;
    color: var(--secondary-color);
    font-size: 45px;
    word-wrap: break-word;
    text-align: center;
}

.contacts-information {
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--more-color);
    font-size: 17px;
    word-wrap: break-word;
    text-align: center;
}

.contacts-form {
    width: 100%;
    height: 100%;
    text-align: center;
}

.contacts-form button {
    width: 510px;
    height: 44px;
    color: var(--secondary-color);
    background-color: var(--marker-color);
    border: none;
    margin-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
}

.contacts-form button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: black;
}

.wrapper-testimonials {
    background-image: url(/img/backround_testimonials.webp);
    background-size: cover;
}

.testimonials-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.testimonials-general {
    padding: 125px 0px 120px;
    width: 100%;
}

.testimonials-title {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.testimonials-subtitle {
    font-family: 'Playfair Display', serif; 
    font-weight: bolder;
    color: var(--main-color);
    font-size: 45px;
}

.testimonials-information {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 19px;
    line-height: 30px;
}

.testimonials-username {
    font-family: 'Roboto', sans-serif;
    color: var(--item-color);
    font-size: 24px;
}

.testimonials-user {
    padding: 15px 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--comment-color);
    font-size: 17px;
}

.testimonials-date {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 15px;
    font-weight: bold;
}

.testimonials-icon img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.testimonials-item {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.testimonials-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-slider button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.testimonials-slider button:hover {
   cursor: pointer;
}

.wrapper-information {
    background-image: url(../img/mountain-view.webp);
    background-size: cover;
}

.information-contacts {
    padding: 140px 0px 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.information-title {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    font-size: 24px;
}

.information-data {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    font-size: 15px;
}

.information-gps {
    font-family: 'Roboto', sans-serif;
    color: var(--comment-color);
    font-size: 15px; 
}

.information-block img {
    margin-top: 50px;
    width: 100px;
}

.information-item {
    padding: 50px 0px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.information-item img {
    width: 200px;
    margin-bottom: 20px;
}

.information-list {
    font-family: 'Roboto', sans-serif;
    color: var(--comment-color);
    font-size: 14px; 
    font-weight: 600;
    text-decoration: none;
}

.information-block {
    margin: 30px 0px 0px;
    padding: 0px 15px;
    width: 350px;
    height: 318px;
    background-color: rgba(0, 0, 0, 0.65);
}

