.title {
    font-size: 20px;
}

.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.header-title .header-newline {
    font-size: 125px;
    font-family: 'Playfair Display', serif;
    text-transform: lowercase;
    display: block;
}

.header-title .header-newline::first-letter {
    text-transform: uppercase;
}

.delimiter {
    font-size: 12px !important;
    color: red;
}

.button {
    height: 50px;
    width: 150px;
    border: 1px solid #14a9ee;
    background-color: #14a9ee;
    color: white;
}

.subtitle {
    font-family: 'Playfair Display', serif; 
    font-weight: bolder;
    color: #505155 !important;
    font-size: 39px;

}

.about-us-subtitle span {
    color:#14a9ee;
}

.tour-itinerary-subtitle span {
    color: #FFFF;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #6f7380;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.dop-information {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #505155;


}